This function returns a list containing all the words in a string

funsaun nebee fo fali lista. Iha lista laran hout liafuan iha string {text} laran

In [37]:
def get_words(text):
    return text.split()

In [38]:
def count_words_smaller_than_three(x):
    count = 0
    words = get_words(x)
    for word in words:
        if len(word) < 3:
            count += 1
    return count

In [39]:
my_words = "Hau gosta haan tempe ho ai manas no hemu kafe moruk"

In [40]:
count_words_smaller_than_three(my_words)

3

Esplikasaun konaba metode 'split()'

In [42]:
from homework_list_work import get_words

In [43]:
get_words("Hello World")

['Hello', 'World']

In [44]:
get_words

In [45]:
text = "Hello World"

In [46]:
get_words(text)

['Hello', 'World']

In [47]:
"Hello World".split()

['Hello', 'World']

In [48]:
text.split()

['Hello', 'World']

In [49]:
text = "Boatarde"

In [50]:
text

'Boatarde'

In [51]:
word = "Bondia"

In [52]:
word

'Bondia'

In [54]:
text = word

In [55]:
text

'Bondia'

In [56]:
word

'Bondia'

# Scope

In [58]:
def print_text(text):
    print text

In [59]:
print_text("hello World")

hello World

In [135]:
text = "hello world!"

In [136]:
print_text(text)

hello world!

In [137]:
def print_text(text):
    text = text + "Blah" 
    print text

In [138]:
text = "Mario"

In [139]:
print_text(text)

MarioBlah

In [140]:
class Person(object):
    def __init__(self, name):
        self.name = name
    def get_name(self):
        return self.name

In [183]:
person_one = Person("Mario")

In [142]:
person_two = Person("Nando")

In [143]:
person_one.get_name()

'Mario'

In [144]:
person_two.get_name()

'Nando'

In [145]:
class Person(object):
    def __init__(self, name):
        self.name = name
    @property    
    def get_name(self):
        return self.name

In [146]:
person_three = Person("Ony")

In [147]:
numbers = range(10)

In [148]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
odds = [1, 3, 5, 7, 9]

In [27]:
for number in numbers:
    if number in odds:
        print '{} is odd'.format(number)
    else:
        print '{} is even'.format(number)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [28]:
def fosai_odd_ho_even(numbers):
    for number in numbers:
        if number in odds:
            print '{} is odd'.format(number)
        else:
            print '{} is even'.format(number)

In [29]:
fosai_odd_ho_even(numbers)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

#### Scope A variable defined outside of a function is available inside that function
#### variable ne'ebe defini iha funsuan nia liu se bele assesu iha funsaun nia laran
#### A variable defined inside of a function is NOT available outside of that function
#### vabriable ne'ebe define iha funsaun nia laran la bele assesu iha funsaun nia liur

In [153]:
sura

NameError: name 'sura' is not defined

In [11]:
def print_length_without_space(text):
    sura = len(text) - text.count(text)
    return sura

In [13]:
print_length_without_space(sura)

NameError: name 'sura' is not defined

In [12]:
print_length_without_space("hello world")

10

In [158]:
my_text = "Bondia Maluk Sira"

In [159]:
print_length_without_space(my_text)

16

# LISTA

In [163]:
def add_one(lista):
    lista.append(1)
    return lista

In [161]:
odds = [1, 3, 5]

In [164]:
add_one(odds)

[1, 3, 5, 1]

In [165]:
odds

[1, 3, 5, 1]

# TUPLE

In [167]:
def plus_one(value):
    value += 1
    return value

In [166]:
number = 5

In [168]:
number

5

In [169]:
plus_one(number)

6

In [170]:
number

5

# DICTIONARY

In [171]:
people = {'ano': 1, 'ony': 2}

In [172]:
people

{'ano': 1, 'ony': 2}

In [173]:
def add_person(my_dict):
    my_dict.update({'mario': 3})
    return my_dict

In [174]:
people

{'ano': 1, 'ony': 2}

In [175]:
add_person(people)

{'ano': 1, 'mario': 3, 'ony': 2}

In [176]:
people

{'ano': 1, 'mario': 3, 'ony': 2}

In [177]:
lambda x, y: x + y

In [ ]:
def add(x, y):
    return x + y

In [178]:
add(1, 2)

3

# LAMBDA

In [11]:
double = lambda x: x * 2

In [10]:
map(double, [2, 4, 6])

[4, 8, 12]

In [12]:
[x * 2 for x in [1, 2, 3]]

[2, 4, 6]

In [13]:
lista = []
for x in [1, 2, 4]:
    lista.append(x * 2)

In [14]:
lista

[2, 4, 8]

In [2]:
my_tuple = (1, 2, 3)

In [3]:
[item for item in my_tuple]

[1, 2, 3]

In [4]:
[item + 2 for item in my_tuple]

[3, 4, 5]

In [5]:
[item * 2 for item in my_tuple]

[2, 4, 6]

In [16]:
map(lambda x: x + 2, [2, 3, 4])

[4, 5, 6]

In [15]:
filter(lambda x: x == 5, [1, 3, 5])

[5]

In [ ]:
[x for x in [1, 3, 5] if x == 5]

How to get result like even number and double it use `map and filter`

In [6]:
lista = range(10)

In [7]:
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

result

In [8]:
[0, 4, 8, 12, 16]

[0, 4, 8, 12, 16]

In [9]:
filtered = filter(lambda x: x % 2 == 0, lista)
filtered

[0, 2, 4, 6, 8]

In [10]:
map(lambda x: x * 2, filtered)

[0, 4, 8, 12, 16]

comprehension

In [13]:
[x * x for x in lista if x % 2 == 0]

[0, 4, 16, 36, 64]

### double_even *`with algorithm`* and *`lambda`*

In [23]:
#numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] #or
numbers = range(10)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
def double_even(numbers):
    result = []
    for number in numbers:
        if number % 2 == 0:
            double = number * 2
            result.append(double)
    return result

In [25]:
double_even(numbers)

[0, 4, 8, 12, 16]

In [26]:
double_even(result)

NameError: name 'result' is not defined

In [27]:
filter(lambda number: number % 2 == 0, numbers)

[0, 2, 4, 6, 8]

In [28]:
filtered = filter(lambda number: number % 2 == 0, numbers)

In [29]:
filtered

[0, 2, 4, 6, 8]

In [30]:
map(lambda number: number * 2, filtered)

[0, 4, 8, 12, 16]

### triple_odds *`with algorithm`* and *`lambda`*

In [31]:
def triple_odds(numbers):
    result = []
    for number in numbers:
        if number % 2 != 0: # condition
            triple = number * 3 # action
            #result.append(triple) 
            result += [triple]
    return result

In [34]:
triple_odds(numbers)

[3, 9, 15, 21, 27]

### filter for condition

In [36]:
filter(lambda number: number % 2 != 0, numbers)

[1, 3, 5, 7, 9]

In [37]:
filtered = filter(lambda number: number % 2 != 0, numbers )

In [39]:
filtered

[1, 3, 5, 7, 9]

### map for action

In [40]:
map(lambda number: number * 3, filtered)

[3, 9, 15, 21, 27]

### reduce

In [41]:
reduce(lambda number, n: number + n, numbers)

45